<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629126307221-2ni71opgodf5q9s40eqamu0mpnpq9mkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629126307221-2ni71opgodf5q9s40eqamu0mpnpq9mkr</string>
	<key>API_KEY</key>
	<string>AIzaSyANQMxt_4zw-5ZzsVkrU62Svtvgoq3EsWw</string>
	<key>GCM_SENDER_ID</key>
	<string>629126307221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.edu.ukma.derkach-sydorova.ML-Derkach-Sydorova</string>
	<key>PROJECT_ID</key>
	<string>clothes-4740d</string>
	<key>STORAGE_BUCKET</key>
	<string>clothes-4740d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629126307221:ios:e83fb69aa2aaefea6f2a9c</string>
</dict>
</plist>